# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest
    strategy:
      matrix:
        dotnet-version: ['4.7.2' ]

    steps:
      - uses: actions/checkout@v2
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1
      - name: Setup NuGet
        run: NuGet/setup-nuget@v1.0.2
      - name: Navigate to Workspace
        run: cd $GITHUB_WORKSPACE
      - name: Create Build Directory
        run: mkdir _build
      - name: Restore Packages
        run: nuget restore EzRep.sln
      - name: Build Solution
        run: |
          msbuild.exe ASE-Assignment-Solution.sln /nologo /nr:false /p:DeployOnBuild=true /p:DeployDefaultTarget=WebPublish /p:WebPublishMethod=FileSystem /p:DeleteExistingFiles=True /p:platform="Any CPU" /p:configuration="Release" /p:PublishUrl="../_build"
